.bus-route-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 90vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1500;
    width: 25%;
}

.tabs{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
}

.button-i {
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 15px;
}