.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  /* margin-top: 10%; */
  /* width: 25%; */
  height: auto;
  align-self: center;
}
.text1 {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  line-height: 1.22; /* 36.57px / 30px */
  text-align: center;
  margin: 20px 0;
}