.textField {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
.titleS {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
}
.input1 {
  margin-top: 2%;
  height: 30px;
  width: 80%;
  border-radius: 16px;
  border-color: #f4f4f4;
  border: solid 1px;
  color: brown;
  margin-bottom: 3%;
}
